
<footer>
  <div class="footer-row">
    <div class="footer-col">
      <a href="index.php">
        <img src="../assets/logos/logo.jpg" class="footer-logo" /><br />
      </a>
      <p>
        Explore our wide range Cars, With expert guidance, flexible
        financing, and unbeatable customer service, we make finding your
        dream car easy.
      </p>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <!-- ShowRoom -->
    <div class="footer-col">
      <h4>OUR SUPPLIERS</h4>
      <ul>
        <li><a href="https://www.ferrari.com/fr-FR">Ferrari</a></li>
        <li><a href="https://www.lamborghini.com/en-en">Lamborghini</a></li>
        <li><a href="https://www.porsche.com/france/">Porsche</a></li>
        <li><a href="https://www.mercedes-benz.fr/">Mercedes </a></li>
      </ul>
    </div>
    <!-- Company -->
    <div class="footer-col">
      <h4>SHOWROOM</h4>
      <ul>
        <li><a href="index.php">Our Stock</a></li>
        <li><a href="index.php?class=sold">Sold Cars</a></li>
      </ul>
    </div>
    <!-- Contact us -->
    <div class="footer-col">
      <h4>CONTACT US</h4>
      <ul>
        <li>
          <i class="fa-solid fa-envelope"></i><a href="mailto:MarciaUno@gmail.com">&nbsp; MarciaUno@gmail.com</a>
        </li>
        <li>
          <i class="fa-solid fa-phone"></i><a href="tel:+3770000000">&nbsp; +3770000000</a>
        </li>
        <li>
          <i class="fa-solid fa-location-dot"></i><a href="https://maps.app.goo.gl/nypkSSCiVEa7aeQC8">&nbsp; Avenue Henri Dunant, Monte-Carlo, Monaco
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>