<header>
  <div class="nav-bar">
    <a href="index.php">
      <img src="../assets/logos/logo.jpg" alt="" />
    </a>
    <nav>
      <ul>
        <li class="dropdown">
          <a href="index.php">CARS</a>
          <ul class="dropdown-menu">
            <li><a href="index.php?class=hyper">Hyper</a></li>
            <li><a href="index.php?class=super">Super</a></li>
            <li><a href="index.php?class=classic">Classic</a></li>
            <li><a href="index.php?class=suv">Suv's</a></li> 
          </ul>
        </li>
        <li><a href="index.php?class=race">RACE CARS</a></li>
        <li><a href="news.php">NEWS</a></li>
        <li><a href="contact.php">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
