<section class="slider-container">
  <div class="slider-wrapper">
    <div class="slider">
      <img id="slide-1" src="../assets/slides/slide-1.jpg" alt="ferrari 812" />
      <img id="slide-2" src="../assets/slides/slide-2.jpg" alt="mercedes amg gt " />
      <img id="slide-3" src="../assets/slides/slide-3.jpg" alt="mercedes 300sl" />
      <img id="slide-4" src="../assets/slides/slide-4.jpg" alt="porsche 365" />
      <img
        id="slide-5"
        src="../assets/slides/slide-5.jpg"
        alt="mercedes mclaren slr striling moss"
      />
    </div>
    <div class="slider-nav">
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
    </div>
  </div>
</section>
 